.square {
    background-color: rgb(182, 182, 241);
    border-style: solid;
    border-color:rgb(44, 8, 35);
    border-width: 0px;
    flex: 1;
    
    
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    width: 700px;
    height: 700px;
}

button {
    background-color: rgb(182, 182, 241);
    margin-top: 20px;
    margin-left: 20px;
}